
    <!-- nav -->
    <nav>
        <a href="/home"><img src="/images/taskX.PNG" alt="logoPlanetNotes"></a>
        <ul>
            {{#if user}}
                <li><a href="/notes">Tareas</a></li>
                <li><a href="/addNote">Añadir</a></li>
                <li><a href="/logout">Cerrar sesión</a></li>
            {{else}}
                <li><a href="/login">Iniciar sesión</a></li>
                <li><a href="/register">Registrarse</a></li>
            {{/if}}
        </ul>
    </nav>