
    {{#if success_msg}}
        <div class="succes">
            <p>{{success_msg}}</p>
        </div>
    {{/if}}
    {{#each succes}}
        <div class="succes">
            <p>{{text}}</p>
        </div>
    {{/each}}