
    {{#if succes_msg}}
        <div class="succes">
            <p>{{succes_msg}}</p>
        </div>
    {{/if}}
    {{#each succes}}
        <div class="succes">
            <p>{{text}}</p>
        </div>
    {{/each}}