
    <!-- form -->
    <section class="form">
        <h2>Añadir tarea</h2>
        <div class="contenedor">
            <form action="/addNote" method="POST">
                <div>
                    <input type="text" placeholder="Título" name="title">
                    <input type="text" placeholder="Descripción" name="description">
                </div>
                <div>
                    <button type="submit" class="submit">Guardar</button>
                </div>
            </form>
        </div>
    </section>


    <!-- indicator -->
    <div class="indicator">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!-- cta -->
    <div class="cta">
        <a href="/notes"><button type="button">Volver a tareas &#x27F6;</button></a>
    </div>