
    <!-- h1 -->
    <h1>Bienvenido a  <br> TASK X</h1>
    <a href="/notes"><button type="button">Lista de tareas</button></a>

    <!-- indicator -->
    <div class="indicator">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!-- cta -->
    <div class="cta">
        <p>¡ Bienvenido ! ヾ(•ω•`  )o <br>Esta es una aplicación de tareas que te ayudará a mantenerte más organizado</p>
        <a href="/addNote"><button type="button">Añadir tareas &#x27F6;</button></a>
    </div>