
    <!-- h1 -->
    <h1>Bienvenido a  <br> TASK X</h1>
    <a href="/notes"><button type="button">Viajar a la lista de tareas</button></a>

    <!-- indicator -->
    <div class="indicator">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!-- cta -->
    <div class="cta">
        <p>Bienvedida pequeña personita . . . <br>Soy una aplicacion de tareas que te ayudara para mantenerte mas organizado</p>
        <a href="/addNote"><button type="button">Comenzar a añadir tareas &#x27F6;</button></a>
    </div>