
    <!-- form -->
    <section class="form">
        <h2>Iniciar sesión</h2>
        <div class="contenedor">
            <form action="/login" method="POST">
                <div>
                    <input type="email" placeholder="Correo" name="email">
                    <input type="password" placeholder="Contraseña" name="password">
                </div>
                <div>
                    <button type="submit" class="submit">Continuar</button>
                </div>
            </form>
        </div>
    </section>


    <!-- indicator -->
    <div class="indicator">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!-- cta -->
    <div class="cta">
        <p>¿ Listo para continuar ?</p>
    </div>