
    <!-- form -->
    <section class="form">
        <h2>Registrarse en Task X</h2>
        <div class="contenedor">
            <form action="/register" method="POST">
                <div>
                    <input type="email" placeholder="Correo" name="email" value="{{email}}">
                    <input type="password" placeholder="Contraseña" name="password">
                    <input type="password" placeholder="Confirmar contraseña" name="reppassword">
                </div>
                <div>
                    <button type="submit" class="submit">Registrarse</button>
                </div>
            </form>
        </div>
    </section>


    <!-- indicator -->
    <div class="indicator">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!-- cta -->
    <div class="cta">
        <p>¿ Preparado para empezar a organizarte ?<br>Espero te guste tu estancia en Task c:</p>
    </div>